

.container{
    margin: 0 auto;
    max-width: 940px;
}

.textColor{
    font-family: 'Radio Canada', sans-serif;
    color: #3F5D45;
    font-weight: 600;
}

.header{
    display: flex;
    align-items: center;
    margin: 30px 0 ;


    img{
        width: 100%;
    }

    ul{
        display: flex;
        margin-left: auto;

        a{
            text-decoration: none;
            line-height: 73px;
            font-size: 16px;
            padding:10px 60px 8px 0 ;
        }
    }

    .shop-logo{
        margin-left: 49px;
        cursor: pointer;
    }

}

.main{
    display: flex;
    margin-top: 60px;

    .listBox{
        width: 300px;


        li{
            padding: 16px 64px;
            text-align: center;
            border:1px solid #EAF0ED;

            &.listTitle{
                background: #3F5D45;
                color: #EAF0ED;
                font-size: 24px;
                font-weight: 600;
                border: none;
            }

            &.index{
                background:#EAF0ED;
            }

            a{
                text-decoration: none;
                font-size: 24px;
            }
        }

    }

    .itemBox{
        width: calc(940px - 300px);
        display: flex;
        flex-wrap: wrap;

        .item{
            width: 298px;
            margin:0 0 20px 20px;
            border:1px solid #EAF0ED;

            .item-img{

                span{
                    &.featured{
                        font-size: 16px;
                        font-family: 600;
                        line-height: 1.2;
                        text-align: center;
                        padding: 10px 8px;
                        margin-left: 20px;
                        width: 20px;
                        color: #EAF0ED;
                        background: #3F5D45;
                        position: absolute;

                    }
                }

                button{
                    &.favorite{
                        position: absolute;
                        border: none;
                        background: none;
                        margin: 19px 22px 0 250px;
                    }
                }

                img{
                    vertical-align: middle;
                }
            }

            .content{
                display: flex;

                span{
                    display: block;
                    padding: 14px 0;
                    text-align: center;
                    &.name{
                        width: 172px;
                        border-right:1px solid #EAF0ED;
                    }
                    &.price{
                        width: calc(300px - 172px);
                    }
                }
            }

            button{
                &.btn{
                    border: none;
                    background: #EAF0ED;
                    font-size: 24px;
                    padding: 16px 89px;
                    cursor: pointer;
                }
            }
        }
    }
}

.pages{
    margin: 10px 0 60px 0;

    ul{
        display: flex;
        justify-content: end;
        align-items: center;

        li{
            border: 1px solid #EAF0ED;
            height: 60px;
            overflow: hidden;

            a{
                text-decoration: none;
                color: #3F5D45;
                padding: 16px 24px;
                display: block;
                font-size: 20px;
                line-height: 1.5;

                &.path{
                    padding: 18px;
                }

                &.active{
                    background-color: #3F5D45;
                    color: #EAF0ED;
                }
            }
        }
    }
}
